Practica2.2/Actividad2/agenda.dtd

<!ELEMENT agenda (persona)*>
<!ELEMENT persona (nombre|email|relacion|fijo|movil)*>

<!ATTLIST persona genero CDATA #IMPLIED>
<!ATTLIST persona id CDATA #REQUIRED>
<!ATTLIST relacion amigo_de CDATA #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)*>
<!ELEMENT relacion (#PCDATA)>
<!ELEMENT fijo EMPTY>
<!ELEMENT movil EMPTY>